
*{margin: 0;padding: 0;}

.grid-con {display: flex;
flex-wrap: wrap;
height: 370px;
width: 375px;
border: solid red;
}

ul li {list-style: none;}

.grid-item {background-color: aqua;height: 122px; width: 122px;margin: 1px;}