<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleflexx.css">
    <link rel="stylesheet" href="css/all.min.css">
</head>

<body>
    <div class="con">
        <div class="con-item1"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="con-item2"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <div class="flex-con">
        <div class="flex-item">
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
            <div class="icon"><i class="fa-solid fa-heart"></i></div>
            <div class="icon"><i class="fa-solid fa-plus"></i></div>

        </div>
        <div class="flex-item">
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
            <div class="icon"><i class="fa-solid fa-heart"></i></div>
            <div class="icon"><i class="fa-solid fa-plus"></i></div>
        </div>
        <div class="flex-item">
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
            <div class="icon"><i class="fa-solid fa-heart"></i></div>
            <div class="icon"><i class="fa-solid fa-plus"></i></div>
        </div>
        <div class="flex-item">
            <div class="icon"><i class="fa-brands fa-facebook"></i></div>
            <div class="icon"><i class="fa-solid fa-heart"></i></div>
            <div class="icon"><i class="fa-solid fa-plus"></i></div>
        </div>

    </div>
    <div class="namecon">
        <div class="HOODIE">HOODIE JACKET</div>
        <div class="name">two</div>
        <div class="name">three</div>
        <div class="name">four</div>
    </div>
</body>

</html>